.note {
}

.noteHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.note-title {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.note-content-wrapper {
  hyphens: auto;
  overflow-y: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.note-content {
  padding-right: 20px;
  text-overflow: ellipsis;
}

.hidden {
  display: none;
}

.fade-out {
  opacity: 0;
  scale: 0;
  padding: 0;
  margin: 0;
  width: 0;
  border: none;
  transition:
    opacity 0.3s ease-out,
    scale 0.3s ease-out,
    width 0.3s ease-out,
    padding 0.3s ease-out,
    margin 0.3s ease-out,
    border 0.3s ease-out;
}
