.note {
}

.note::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  background-image: url('/icons/note-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.2;
  pointer-events: none;
}

.noteHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.note-title {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.note-content-wrapper {
  hyphens: auto;
  overflow-y: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.note-content {
  padding-right: 20px;
  text-overflow: ellipsis;
}

.hidden {
  display: none;
}

@media screen and (max-width: 480px) {
  .fade-out {
    opacity: 0;
    padding: 0;
    margin: 0;
    height: 0;
    transform: scaleY(0);
    transition:
      height 0.3s ease-out,
      padding 0.3s ease-out,
      margin 0.3s ease-out,
      opacity 0.3s ease-out,
      border 0.3s ease-out;
  }
}

@media screen and (min-width: 481px) {
  .fade-out {
    opacity: 0;
    padding: 0;
    margin: 0;
    width: 0;
    border: none;
    transform: scaleX(0);
    transition:
      transform 0.3s ease-out,
      opacity 0.3s ease-out,
      width 0.3s ease-out,
      padding 0.3s ease-out,
      margin 0.3s ease-out,
      border 0.3s ease-out;
  }
}
