.note {
}

.note-content-wrapper {
  hyphens: auto;
  overflow-y: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

.note-content {
  padding-right: 20px;
  text-overflow: ellipsis;
}

.hidden {
  display: none;
}
