.profile {
  position: relative;
  background-color: var(--bg-color);
  color: var(--text-color);

  transition: all cubic-bezier(0.17, 0.67, 0.71, 0.3) 3s;
}

.profileLoader {
  width: 100%;
  height: 100%;
}

.profileContainer {
  position: relative;
  padding-top: 10px;
  overflow-x: hidden;
}

.profileContentWrapper {
  display: flex;
  align-items: flex-start;
}

.workspaceController {
  z-index: 2;
  position: fixed;
  top: 50%;
  border: 2px solid var(--blue);
  border-radius: 10px;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 50px;
  padding: 0;
  cursor: pointer;

  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 1);
}

.showTaskListButton {
  right: 15px;
}

.hideTaskListButton {
  left: 15px;
}

.none {
  opacity: 0;
  pointer-events: none;
}

.hideTaskListButton::before,
.showTaskListButton::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;

  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.hideTaskListButton::before {
  left: 0;
  top: 50%;
  transform: translate(-100%, -50%);
  border-right: 10px solid var(--blue);
}

.showTaskListButton::after {
  right: 0;
  border-left: 10px solid var(--blue);
  transform: translate(100%, -50%);
}

.showTaskListButton > svg {
}

.showTaskListIcon > svg > use {
}
