.workspaceSwitcher {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 70px;
  bottom: 0;
  width: 60px;

  background-color: var(--bg-color);
  border: 2px solid var(--blue);

  min-height: calc(100vh - 70px);
  opacity: 0;

  transition: all cubic-bezier(0.17, 0.67, 0.71, 0.3) 0.3s;
}

.workspaceSwitcher.toRight {
  border-radius: 10px 0 0 10px;
  right: 0;
}

.workspaceSwitcher.toLeft {
  border-radius: 0 10px 10px 0;
  left: 0;
}

.workspaceSwitcher.toLeft .workspaceswitcher-icon {
  transform: rotate(180deg);
}

.workspaceswitcher-icon {
  pointer-events: none;
}
