.entiyList {
  direction: rtl;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-content: flex-start;
  width: 100%;
  height: calc(100vh - 80px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 40px 15px 10px;
  gap: 15px;
  scrollbar-width: none;
  /* padding-top: 60px; */

  scrollbar-width: thin; /* Тонкий скроллбар */
  scrollbar-color: var(--blue) var(--bg-color);
}

@media screen and (min-width: 481px) {
  .entiyList {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
