.registration-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration-form-wrapper {
  padding: 20px;
  padding-top: 0;
  border-radius: 10px;
  border: 2px solid var(--blue);
}

.registration-form {
}

.form-error {
}

@media screen and (max-width: 480px) {
  .registration-container {
    width: 100%;
  }

  .registration-form-wrapper {
    width: 100%;
  }
}

@media screen and (min-width: 769px) {
  .registration-container {
    width: 60%;
  }

  .registration-form-wrapper {
    width: 60%;
  }
}
