.urlPreview {
  padding: 20px;
  max-height: 100px;
  overflow-y: scroll;
  scrollbar-width: none;
  display: flex;
  background-color: #282829;
  border-radius: 25px 25px 0 0;
  cursor: pointer;
}

.urlPreviewImageContainer {
  max-width: 50px;
  margin-right: 20px;
  height: auto;
}

.previewTitle {
  margin: 0;
}

.previewDescription {
  margin: 0;
}
