.note-list {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
  margin-right: 30px;
}

.note-taskList-container {
  display: flex;
}

.go-back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
}

/* .back-button-icon{
  display: block;
} */

@media screen and (min-width: 481px) {
  .note-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
