.greeting-section {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.greeting-theme-toggle {
  position: absolute;
  right: 20px;
  top: 20px;
}

.greeting-content {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.greeting-logo {
  margin-right: 20px;
  width: 100%;
  max-width: 240px;
  height: auto;
}

.greeting-text {
  font-size: 10vw;
  color: var(--blue);
}

.greeting-form {
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
  border-radius: 10px;
  border: 2px solid var(--blue);
}

.greeting-form-error {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.registration-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  border-radius: 10px;
  background-color: var(--blue);
  color: var(--white);
}

.registration-link:hover,
.registration-link:focus {
  background-color: var(--light);
  color: var(--white);
}

.registration-part-separator {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 20px;
}

.registration-part-separator::before,
.registration-part-separator::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: var(--blue);
}

.registration-part-separator::before {
  margin-right: 20px;
}

.registration-part-separator::after {
  margin-left: 20px;
}

.forget-password {
  display: flex;
  justify-content: center;
  /* flex-shrink: 2; */
}

@media screen and (min-width: 769px) {
  .greeting-section {
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }

  .greeting-container {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .greeting-hero-column {
    width: 50%;
  }

  .greeting-content {
    flex-direction: column;
    max-width: 600px;
    margin-bottom: 0;
  }

  .greeting-logo {
    max-width: 400px;
    margin-right: 0;
  }

  .greeting-text {
    font-size: 6vw;
  }

  .greeting-hero-form {
    width: 50%;
    max-width: 500px;
  }
}
