.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 2px solid var(--blue);
  border-radius: 5px;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
  transition: all 0.3s linear;
}

.button:hover,
.button:focus {
  background-color: var(--light);
  border-color: var(--light);
}
