.button{
    margin-top: 20px;
    padding: 10px;
    border: 2px solid var(--blue);
    border-radius: 10px;
    background-color: inherit;
    color: inherit;

    transition: all 0.3s linear;
}

.button:hover, .button:focus{
    background-color: var(--light);
    border-color: var(--light);
}