.addFolder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addFolder > svg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.folder-list {
  height: calc(100vh - 70px);
  overflow-y: scroll;
  overflow-x: hidden;

  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
  padding: 30px;
}

@media screen and (min-width: 481px) {
  .folder-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
