.folder-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-bottom: -15px;
}

.addFolder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addFolder > svg {
  display: flex;
  justify-content: center;
  align-items: center;
}
