.addFolder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addFolder > svg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.folder-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 481px) {
  .folder-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
