.themeToggle {
    position: relative;
    display: block;
    width: 60px;
    height: 34px;
  }
  
  .themeToggle-checkbox {
    appearance: none;
  }
  
  .slider {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.3s;
    border-radius: 999px;
    cursor: pointer;

    border: 2px solid var(--blue);

  }
  
  .slider::before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 4px;
    top: 50%;
    background-color: white;
    transition: 0.3s;
    border-radius: 50%;

    transform: translateY(-50%);
  }
  
  /* Checked state */
  .themeToggle-checkbox:checked + .slider {
    background-color: var(--blue);
  }
  
  .themeToggle-checkbox:checked + .slider::before {
    transform: translateX(110%) translateY(-50%);
  }