.themeToggle {
  position: relative;
  display: block;
  width: 60px;
  height: 34px;
}

.themeToggle-checkbox {
  appearance: none;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 999px;
  cursor: pointer;

  border: 2px solid var(--blue);
}

.slider-circle {
  position: absolute;
  content: '';
  height: 24px;
  width: 24px;
  left: 4px;
  top: 50%;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;

  transform: translateY(-50%);
}

/* Checked state */
.themeToggle-checkbox:checked + .slider {
  background-color: var(--blue);
}

.themeToggle-checkbox:checked + .slider > .slider-circle {
  transform: translateX(110%) translateY(-50%);
}

.themeToggleIcon {
  transition: all linear 0.3s;
}

.sun-icon {
  opacity: 1;
  stroke: var(--blue);
}

.moon-icon {
  opacity: 0;
  stroke: var(--blue);
}

.themeToggle-checkbox:checked + .slider > .slider-circle .sun-icon {
  opacity: 0;
}

.themeToggle-checkbox:checked + .slider > .slider-circle .moon-icon {
  opacity: 1;
}
