.task-lists-container {
  /* display: none; */
  padding: 10px;
  outline: 2px solid blue;
  /* position: fixed; */
  /* right: 0; */
  /* top: 90px; */
  /* transform: translateX(0); */

  background-color: var(--bg-color);
  z-index: 1;
}

.task-lists-container.open {
  /* transform: translateX(0); */
}

.toggle-task-list-btn {
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  color: var(--blue);
  top: 50%;
  left: 0;
  transform: translateX(-100%);
}

.add-tasklist-button {
  width: 34px;
  height: 34px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tasklist-add-icon {
  color: var(--blue);
}

.tasklist-add-icon > use {
}
