.header {
  background-color: var(--dark);
  height: 70px;
  width: 100%;
  border-bottom: 1px solid var(--blue);
  border-top: 1px solid var(--blue);
}

.header-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-logo {
  margin-right: auto;
  width: 70px;
}

.user-container {
  position: relative;
  z-index: 2;
}

.user-name {
  color: #fff;
  margin-right: 20px;
  cursor: pointer;
}

.logout-button {
  position: absolute;
  top: 130%;
  opacity: 0;
  pointer-events: none;

  transition: all 0.3s linear;
}

.logout-button:hover {
  cursor: pointer;
}

.user-name.isOpen + .logout-button {
  opacity: 1;
  pointer-events: all;
}
