.header {
  background-color: var(--dark);
  height: 70px;
  width: 100%;
  /* border-bottom: 1px solid var(--blue);
  border-top: 1px solid var(--blue); */
}

.header-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-logo {
  margin-right: auto;
  width: 70px;
}

.user-container {
  position: relative;
  z-index: 2;
}

.user-name {
  color: #fff;
  cursor: pointer;
}

.userDropdown {
  background-color: var(--bg-color);
  border: 2px solid var(--blue);
  border-radius: 10px;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  opacity: 0;
  pointer-events: none;

  transition: all 0.3s linear;
}

.userDropdownItem {
  display: block;
  width: 100%;
  border-radius: 0;
  border: none;
  cursor: pointer;
}

.userDropdownItem:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.userDropdownItem:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.userDropdown:hover {
  cursor: pointer;
}

.user-name.isOpen + .userDropdown {
  opacity: 1;
  pointer-events: all;
}
