.folder {
  z-index: 0;
}

.folder::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  background-image: url('/icons/folder-icon.svg#folder');
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
}

p {
  margin: 5px;
}

.folderHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 5px;
}

.folder-name {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.delete-button {
  flex-shrink: 0;
  right: 10px;
  top: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  width: 30px;
  height: 30px;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.delete-button:hover,
.delete-button:focus {
  transform: scale(1.1);
}

.delete-button-icon {
  display: block;
  width: 20px;
  height: 20px;
}

.creation-date {
  color: gray;
  margin-top: auto;
  padding-top: 5px;
  align-self: end;
}
