.input {
  position: relative;
  margin-top: 30px;
  width: 100%;
}

.input > label {
  position: absolute;
  left: 12px;
  top: 0;
  color: var(--blue);
  transform: translateY(50%);

  transition: all 0.3s linear;
}

.input > input,
.input > textarea {
  display: block;
  width: 100%;
  padding: 10px 10px;
  border: 2px solid var(--blue);
  border-radius: 10px;
  outline: none;

  background-color: var(--bg-color);
  color: var(--text-color);

  transition: all 0.3s linear;
}

.input > input:focus,
.input > textarea:focus {
  border: 2px solid var(--light);
  transition: all 0.3s linear;
}

input:not(:placeholder-shown) ~ label,
textarea:not(:placeholder-shown) ~ label {
  transform: translateY(-25px);
}

textarea {
  resize: none;
  font-family: inherit;
  font-size: inherit;
  scrollbar-width: none;
  line-height: 25px;
}

.field-error {
  margin-top: 10px;
}
