.input {
  position: relative;
  margin-top: 30px;
  width: 100%;
}

.input > label {
  position: absolute;
  left: 12px;
  top: 0;
  color: var(--blue);
  transform: translateY(50%);

  transition: all 0.3s linear;
}

.input > input,
.input > textarea {
  display: block;
  width: 100%;
  padding: 10px 10px;
  border: 2px solid var(--blue);
  border-radius: 10px;
  outline: none;

  background-color: var(--bg-color);
  color: var(--text-color);

  transition: all 0.3s linear;
}

.input > input:focus,
.input > textarea:focus {
  border: 2px solid var(--light);
  transition: all 0.3s linear;
}

input:not(:placeholder-shown) ~ label,
textarea:not(:placeholder-shown) ~ label {
  transform: translateY(-25px);
}

textarea {
  resize: none;
  font-family: inherit;
  font-size: inherit;
  scrollbar-width: none;
  line-height: 25px;
}

.fieldError {
  margin-top: 10px;
}

.urlPreview {
  padding: 20px;
  max-height: 100px;
  overflow-y: scroll;
  scrollbar-width: none;
  display: flex;
  background-color: #282829;
  border-radius: 25px 25px 0 0;
}

.withPreview > input {
  border-radius: 0 0 10px 10px;
}

/* .urlPreview::before,
.urlPreview::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #282829;
  bottom: -10px;
}
.urlPreview::before {
  left: 0;
}

.urlPreview::after {
  right: 0;
} */

.urlPreviewImageContainer {
  max-width: 50px;
  margin-right: 20px;
  height: auto;
}

.previewTitle {
  margin: 0;
}

.previewDescription {
  margin: 0;
}
