.modalBackdrop {
  position: absolute;

  z-index: 4;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: calc(100% + 70px);
  opacity: 1;
  pointer-events: all;
  overflow: hidden;

  transition: all 0.3s linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 50%;
  max-height: 60%;

  display: flex;
  flex-direction: column;

  overflow-y: scroll;
  scrollbar-width: none;

  padding: 20px 20px;
  border: 2px solid var(--blue);
  border-radius: 10px;
  background-color: var(--bg-color);

  transform: translate(-50%, -50%);
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalTitle {
  margin: 0;
}

.contentWrapper {
  position: relative;
  overflow-y: auto;
  scrollbar-width: none;
  max-width: 100%;
}

.modalContent {
  flex: 1;
  overflow-y: scroll;
  scrollbar-width: none;
  hyphens: auto;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
}

.buttonsContainer {
  display: flex;
}

.modalControlButton {
  padding: 0;
  width: 25px;
  height: 25px;
}

.modalControlButton:not(:last-child) {
  margin-right: 10px;
}

.scrollArrowIcon {
  fill: var(--blue);
}

.rotated {
  composes: scrollArrowIcon;
  transform: rotate(180deg);
}

.scrollArrow {
  margin: 0 auto;
  z-index: 5;
  opacity: 0;
}

.visible {
  animation: blink 1.5s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}
