.modalBackdrop {
  position: absolute;

  z-index: 4;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.623);
  width: 100%;
  height: calc(100% + 70px);
  pointer-events: none;

  transition: all 0.3s linear;
}

.modalBackdrop.isOpen {
  opacity: 1;
  pointer-events: all;
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 50%;
  max-height: 60%;

  display: flex;
  flex-direction: column;

  padding: 40px 20px;
  border: 2px solid var(--blue);
  border-radius: 10px;
  background-color: var(--bg-color);

  transform: translate(-50%, -50%);
}

.modalContent {
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;
}

.closeModalButton {
  position: fixed;
  padding: 0;
  width: 25px;
  height: 25px;
  right: 5px;
  top: 5px;
}

.scrollArrowIcon {
  fill: var(--blue);
}

.rotated {
  composes: scrollArrowIcon;
  transform: rotate(180deg);
}

.up {
  top: 10px;
}

.down {
  bottom: 10px;
}

.scrollArrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;

  opacity: 0;
}

.visible {
  animation: blink 1.5s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}
