:root {
  --black: #1a1b1d;
  --white: #ffffff;
  --blue: #313ab1;
  --light: #4b55e9;
  --dark: #1f2250;

  --bg-color: #ffffff;
  --text-color: #1a1b1d;
  --accent-color: #313ab1;

  /* --mobile-min-width: 320px;
  --mobile-max-width: 480px;

  --tablet-min-width: 481px;
  --tablet-max-width: 768px;

  --small-laptop-min-width: 769px;
  --small-laptop-max-width: 1024px;

  --desktop-min-width: 1025px; */
}

html {
  /* overflow: hidden; */
}

body {
  margin: 0;
  padding: 0;
  transition: all 0.3s linear;
  font-family: 'Montserrat', sans-serif;

  background-color: var(--bg-color);
  color: var(--text-color);
}

body.dark {
  --bg-color: #1a1b1d;
  --text-color: #ffffff;
}

body.modalIsOpen {
  overflow: hidden;
}

body.dragging .workspaceSwitcher {
  opacity: 1;
  z-index: 5;
}

/* delete it */
* {
  font-size: 17px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transition: all linear 0.3s;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: var(--blue);
}

.link:hover,
link:focus {
  color: var(--light);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;

  margin: 0 auto;
}

.tile {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 0;
  cursor: pointer;
  height: 200px;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: var(--bg-color);

  border: 2px solid var(--blue);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 1);
}

.tile:hover,
.tile:focus {
  transform: scale(1.05);
}

.unselectable {
  user-select: none;
}

@media screen and (min-width: 481px) {
  /* .container {
    max-width: 480px;
  } */

  .tile {
    width: calc((100% - 1 * 15px) / 2);
    margin-right: 15px;
  }

  .tile:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  /* .container {
    max-width: 768px;
  } */

  .tile {
    width: calc((100% - 3 * 15px) / 4);
    margin-right: 15px;
  }

  .tile:nth-child(2n) {
    margin-right: 15px;
  }

  .tile:nth-child(4n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1025px) {
  /* .container {
    max-width: 1024px;
  } */
}
