:root {
  --black: #1a1b1d;
  --white: #ffffff;
  --blue: #313ab1;
  --light: #4b55e9;
  --dark: #1f2250;

  --mobile-min-width: 320px;
  --mobile-max-width: 480px;

  --tablet-min-width: 481px;
  --tablet-max-width: 768px;

  --small-laptop-min-width: 769px;
  --small-laptop-max-width: 1024px;

  --desktop-min-width: 1025px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  transition: all 0.3s linear;
}

body.light {
  background-color: var(--white);
  color: var(--black);
}

body.dark {
  background-color: var(--black);
  color: var(--white);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;

  margin: 0 auto;
}
