.task-execution {
  display: flex;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid var(--blue);
}

.task-execution.not-started {
  background-image: linear-gradient(to right, #55555536, #aaaaaa86);
}
.task-execution.in-progress {
  background-image: linear-gradient(to right, #ffa60048, #ffc800c2);
}
.task-execution.completed {
  background-image: linear-gradient(to right, #004b23, #38b000);

  /* background-color: #008000; */
}

/* ["not started", "in progress", "completed"]; */
