.task-execution {
  display: flex;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid var(--blue);
}

.task-execution.not-started {
  background-image: linear-gradient(to right, #313030, #aaaaaa);
}
.task-execution.in-progress {
  background-image: linear-gradient(to right, #553803, #d3a604);
}
.task-execution.completed {
  background-image: linear-gradient(to right, #004b23, #38b000);

  /* background-color: #008000; */
}

/* ["not started", "in progress", "completed"]; */
