.taskList {
  position: relative;
  outline: 2px solid var(--blue);
  border-radius: 10px;
  /* position: fixed; */
  /* right: 0; */
  /* top: 70px; */
  /* transform: translateX(80%); */

  background-color: var(--bg-color);
  /* max-height: 50px; */
  padding: 10px;
  z-index: 1;
  /* transition: max-height 1s linear; */
  overflow: hidden;

  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 1);
}

.taskList:not(:last-child) {
  margin-bottom: 20px;
}

.taskList.isOpen {
  /* animation-name: toggleTask-list;
  animation-duration: 700ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards */
  /* max-height: 100%; */

  /* transform: translateX(0); */
}

.task-list.isOpen .task-list-content {
}

.task-list:hover,
.task-list:focus {
  /* transform: translateX(60%); */
}

.task-list.isOpen:hover,
.task-list.isOpen:focus {
  /* transform: translateX(0); */
}

.taskListHeader {
  display: flex;
  justify-content: space-between;
}

.taskListHeaderContent {
  display: flex;
  align-items: center;
  gap: 10px;
}

.taskListTitle {
  margin-bottom: 10px;
}

.taskListItem {
  position: relative;
  display: flex;
  padding: 10px;
  padding-top: 20px;

  /* display: none;
  opacity: 0; */

  transition: all linear 0.3s;
  /* border: 2px solid purple; */
}

.taskContent {
  hyphens: auto;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
}

.deleteButton {
  margin-left: auto;
}

.task-list-item.isOpen {
  /* display: flex;
  opacity: 1; */
}

/* .task-list-item > .delete-button {
  opacity: 0;
} */

.task-list-item:not(:last-child) {
  /* margin-bottom: 10px; */
}

/* .task-list-item:hover > .delete-button,
.task-list-item:focus > .delete-button {
  opacity: 1;
} */

.task-list-content {
  /* position: absolute;

  transform: translateY(-10%);
  opacity: 0;
  transition: all linear 0.3; */
}
/*
.task-list-content.isOpen {
  position: static;
  transform: translateY(0);
} */
