.task-list {
  position: relative;
  outline: 2px solid var(--blue);
  border-radius: 10px;
  /* position: fixed; */
  /* right: 0; */
  /* top: 70px; */
  /* transform: translateX(80%); */

  background-color: var(--bg-color);
  /* max-height: 50px; */
  padding: 10px;
  z-index: 1;
  /* transition: max-height 1s linear; */
  overflow: hidden;
}

.task-list:not(:last-child) {
  margin-bottom: 20px;
}

.task-list.isOpen {
  /* animation-name: toggleTask-list;
  animation-duration: 700ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards */
  /* max-height: 100%; */

  /* transform: translateX(0); */
}

.task-list.isOpen .task-list-content {
}

.task-list:hover,
.task-list:focus {
  /* transform: translateX(60%); */
}

.task-list.isOpen:hover,
.task-list.isOpen:focus {
  /* transform: translateX(0); */
}

.task-list-header {
  margin-bottom: 20px;
}

.task-list-item {
  position: relative;
  display: flex;
  padding: 10px;

  /* display: none;
  opacity: 0; */

  transition: all linear 2s;
  /* border: 2px solid purple; */
}

.task-list-item.isOpen {
  /* display: flex;
  opacity: 1; */
}

/* .task-list-item > .delete-button {
  opacity: 0;
} */

.task-list-item:not(:last-child) {
  margin-bottom: 10px;
}

/* .task-list-item:hover > .delete-button,
.task-list-item:focus > .delete-button {
  opacity: 1;
} */

.task-list-content {
  /* position: absolute;

  transform: translateY(-10%);
  opacity: 0;
  transition: all linear 0.3; */
}
/*
.task-list-content.isOpen {
  position: static;
  transform: translateY(0);
} */
