.taskList {
  position: relative;
  outline: 2px solid var(--blue);
  border-radius: 10px;
  background-color: var(--bg-color);
  padding: 10px;
  z-index: 1;
  overflow: hidden;

  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 1);
}

.taskList:not(:last-child) {
  margin-bottom: 20px;
}

.taskList.isOpen {
  /* animation-name: toggleTask-list;
  animation-duration: 700ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards */
  /* max-height: 100%; */

  /* transform: translateX(0); */
}

.task-list.isOpen .task-list-content {
}

.task-list:hover,
.task-list:focus {
  /* transform: translateX(60%); */
}

.task-list.isOpen:hover,
.task-list.isOpen:focus {
  /* transform: translateX(0); */
}

.taskListHeader {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.taskListHeaderContent {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dropButton {
  padding: 0;
}

.dropButtonIcon {
  transform: rotate(90deg);
  transition: all linear 0.3s;
}

.dropButtonIcon.rotated {
  transform: rotate(270deg);
}

.addTaskButton {
  padding: 3px;
}

.taskListTitle {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  /* margin-bottom: 10px; */
}

.taskListItem {
  position: relative;
  display: flex;
  padding: 10px;
  padding-top: 20px;
  border-radius: 5px;

  transition:
    transform linear 0.1,
    background-color 0.3s linear;
}

.taskListItem:hover,
.taskListItem:focus {
  background-color: var(--grey-color);
  color: var(--white);
}

.taskListItem.fadeOut {
  transform: scaleY(0);
}

.taskContent {
  hyphens: auto;
  overflow-wrap: anywhere;
  text-overflow: ellipsis;
}

.deleteButton {
  margin-left: auto;
}

.task-list-item.isOpen {
  /* display: flex;
  opacity: 1; */
}

/* .task-list-item > .delete-button {
  opacity: 0;
} */

.task-list-item:not(:last-child) {
  /* margin-bottom: 10px; */
}

/* .task-list-item:hover > .delete-button,
.task-list-item:focus > .delete-button {
  opacity: 1;
} */

.task-list-content {
  /* position: absolute;

  transform: translateY(-10%);
  opacity: 0;
  transition: all linear 0.3; */
}
/*
.task-list-content.isOpen {
  position: static;
  transform: translateY(0);
} */
